input.largeNumberTextBox
{
  font-size:3em;
  border:0px;
  font-weight:800;
  display:inline-block;
  margin-top: -10px;
}


.largeLabel
{
  font-size:2em;
  font-weight:200;
  color:#3366FF;
  text-transform: uppercase;
  display:inline-block;
}
