---
layout: default
---

<div class="home">

  <h1 class="page-heading">Experiments</h1>

  <!-- <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->


  {% assign pages = site.experiments  %}
  <ul>
    {% for p in pages %}
    <li>
      <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url | prepend: site.baseurl }}">
        {{ p.title }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Games</h1>

  <ul>
    <li>
      <a href="http://curran.github.io/HTML5Examples/mobile/iPadAirHockey/index.html">IPad  Air Hockey</a>
    </li>
  <ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
